<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Drive test</title>
    <link rel="icon" type="image/x-icon" href="public/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<style>
    .app_redio input {
        width: 20px;
    }
</style>
<body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/examiner-bg.jpg')"></header>
        <!-- Main Content-->
        <div class="testForm">
            <h1>Create Appointment Slots</h1>
            <fieldset>
                

            </fieldset>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
            <!-- script-->
            <%- include('layouts/scripts'); -%>
</body>


</html>